@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
$body-bg: #0f0f0f;
$main-color: #40c900;
$txt-color: #ffffff;
$white: #f0f0f0;
$shadow: #5edf854d;
$greenLogo: #5edf888d;
$black: #000000;
$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Gentium Book Plus', sans-serif;